<html>
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main>
      <h1>Hello, this is the BST page. Create BST below!</h1>
      <form action="/results" method="POST">
        <div>
          <label for="input">BST</label>
          <input type="input" id="input" name="input" required />
        </div>
        <button type="submit">Search</button>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
