<html>
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main>
      <h1 id="bstpage">Hello! Input any amount of comma-separated numbers in any order to create a BST!</h1>
      <form action="/results" method="POST">
        <div id="bstinput">
          <label for="input">Numbers:</label>
          <input type="input" id="input" name="input" required />
          <button id="bstsearchbutton" type="submit">Create My BST</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
