<html>
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main>
      <h1>Hello This is the Results Page</h1>
      <div id="resultsCon">
        <pre><%= bstArray %></pre>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
