/*********** HOME PAGE ***********/

#bsthome {
    text-align: center;
    padding-top: 30px;
    font-family: "BIZ UDPMincho", sans-serif;
    font-size: 3em;
}

#bstdesc {
    text-align: center;
    font-family: "Square Peg", sans-serif;
    font-size: 2em;
}

#wikipage {
    font-family: 'Courier New', Courier, monospace;
    font-size: .5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/********* BST PAGE **********/

#nav {
    display: flex;
    justify-content: space-between;
    font-family: "Permanent Marker", sans-serif;
    font-size: 2em;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

#bstpage {
    text-align: center;
    font-family: "BIZ UDPMincho", sans-serif;
    font-size: 2.5em;
    padding-left: 30px;
    padding-top: 30px;
}

#bstinput {
    text-align: center;
    font-size: 2em;
}

#input {
    padding-top: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#bstsearchbutton {
    margin-left: 10px;
    font-size: .5em;
    background-color: green;
    color: white;
}

/********* RESULTS PAGE *********/

#bstresults {
    text-align: center;
    font-family: "BIZ UDPMincho", sans-serif;
    font-size: 3em;
    padding-top: 30px;
    padding-bottom: 30px;
}

pre {
    text-align: center; 
    margin-left: 50px; 
    margin-top: 50px;
    font-size: 1.3em;
    font-family:'Courier New', Courier, monospace;
}

footer {
    text-align: center;
    font-family: "Cookie", sans-serif;
    font-size: 1.5em;
    color: gray;
    padding-top: 50px;
}

/*********** SAVED BSTs **********/

#savedinput {
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: bolder;
}